.related-title{
  top:-48px;
  position: absolute;
}


.submenu-list {
    position: absolute;
    top: 94px;
    width: 1270px;
    height: 60px;
}

.submenu-categories {
    position: absolute;
  left: 40px;
  width: 100%;
}

.submenu-focused {
  background-color: blue;
}

.info-container{
  position: absolute;
  height: 508px;
  width: 931px;
  top: 174px;
}

.title{
  position: absolute;
  top: 130px;
  left: 105px;
  width: 555px;
}

.extendedInfo{
  position: absolute;
  top: 265px;
  left: 105px;
  height: 73px; 
  width: 555px;
  overflow: hidden;
}

.extended-categories{
 
  position: absolute;
  top: 376px;;
  left: 109px;
  float: left;

}

.category{
  position: relative;
  float: left;
  margin-left: 4px;
}
.category-stars{
    position: relative;
    float: left;
    width: 94px;
    text-align: left;
  font-size: 16px;
  padding-right: 19px;
}
.verticalbar{
     position: absolute;
   right: 12px;
    bottom: 2px;
    height: 17px;
    width: 2px;
    background: #787878
}

.edad{
  position: relative;
    height: 19px;
    margin-right: 5px;
}
.cont-edad{
  position: relative;
  top: -2px;;
  left: 0px;
  float: left;
  margin-right: 15px;

}

.stars{
   position: absolute;
    top: 415px;
  left: 156px;;
    display: flex;
  align-items: flex-end;
  color: #787878;
  margin-left: 15px;

}

.background-image{
  position: absolute;
  opacity: 0.1;
  height: 508px;
  width: 931px;
}

.imdb{
  position: absolute;
  width: 124px;
  height: 74px;
  top: 260px;
  left: 738px;
}

.imdb-header{
  top: 0px;
  height: 37px;
}

.rating{
  position: absolute;
  width: 124px;
  height: 74px;
  top: 381px;
  left: 738px;
}

.rating-header{
  top: 0px;
  height: 37px;
}

.stars-rating{
  top: 8px;
    position: relative;
}

.star-banner{
  margin-right: 15px;
  color: #FFFFFF;
  position: absolute;
  top: 417px;
    left: 105px;
}

.rating-header-text{
  top: -5px;
    left: 18px;
    position: absolute;
}

.imdb-text{
  position: relative;
    top: -21px;
    text-align: center;
}

.imdb-logo{
  position: absolute;
  top: 8px;
    left: 42px;
  width: 44px;
  height: 21px;
}
.menu-icon{
  position: absolute;
    left: 70px;
    top: 32px;
}

.related-item-outer {
    position: relative;
    top: 0px;
    left: 0px;
    height: 142px;
    width: 254px;
}

.related-extended{
    position: absolute;
    width: 316px;
    height: 651px;
    top: 174px;
    left: 964px;
}

.related-cont-extended {
    overflow: hidden;
    position: absolute;
    height: 598px;
    width: 285px;
    left: 20px;
}


.rating {
  top:100px;
}
.rating-bar {
  position: absolute;
  bottom: 77px;
  /* left: 58px; */
  width: 398px;
  height: 26px;
  border-radius: 70px;
}
.rating-ball{
  margin-top:-46px;
  margin-bottom: 35px;
  width: 50px;
  height: 50px;
  border-radius: 70px;
  z-index: 9999;
  position: absolute;
  top: 180px;
  left: 20px;
}

.subrate {
  font-size:31px;
}

.second-rating-bar {
  width: 0px;
  height: 31px;
  border-radius: 70px;
  top: 144px;
  position: absolute;
}
.rating-content {
  margin-bottom: 50px;
  margin-left: 13px;
}
.button-border {
    border-bottom: 1px solid black;
}

.rating-margin {

}

.margin-title {
  margin-top:25px;
  margin-bottom: 50px;
}

.line-height-60 {
    line-height: 60px !important;
}

i + .center-title {
    padding-left:36px;
}

.fa.pull-right {
    margin:0 !important;
    padding-right: 20px;
}