<div keyboard="vm.keyHandler">
	<div class="submenu-list">
        <linear-list config="vm.listConf" data="vm.categories" interface="vm.listPSubmenu" class="submenu-categories " ng-style="vm.listStyle"></linear-list>
    </div>
    <div class="related-extended gray-mosaic" ng-class="{'unfocus-opacity': !vm.relatedListFocused()}">
        <div class="related-cont-extended" ng-if="vm.related.length">
            <linear-list config="vm.relatedListConf" data="vm.related" interface="vm.relatedListP" class="related-list" ng-style="vm.relatedListStyle"></linear-list>
        </div>

    </div>
    <!--IÑAKI He añadido id a todos los div y he creado un nuevo div para la carga del video-->
    <div id="global" class="info-container white-text">
    	<img class="background-image" ng-src="{{vm.extendedInfo.img}}"></img>
        <div id="titleDiv" class="title font40 line-height-1">{{vm.extendedInfo.title}}</div>
        <!--IÑAKI-->
    	<div id="loading" class="title font40 line-height-1 text-align-center" style="display:none;">Please wait while requesting video to the server... {{percentage}}%</div>
        <!--IÑAKI-->
        <div id="extendedInfo" class="extendedInfo">{{vm.extendedInfo.description}}</div>

    	<div id="extendedCategories" class="extended-categories">
            <div id="age" class="cont-edad"><img  class="edad" ng-src="{{vm.rateimg}}"></img></div>
    		<div id="category" class="category" ng-repeat="category in vm.tags"> {{category}}<span ng-if=!$last>, </span></div>
        </div>
        <div id="banner" class="star-banner"> Stars</div>
		<div id="starsDiv" class="stars">
    		<div id="starsCategory" class="category-stars" ng-repeat="star in vm.actores"> {{star}} <span class="verticalbar"> </span>
            </div>
        </div>
    	<div id="imdbDiv" class="imdb deep-gray-darker">
            <div id="imbdbHeader" class="imdb-header light-gray">
                <img src="./assets/img/imdb.png" class="imdb-logo"></img>
            </div>
            <p class="imdb-text font25 yellow-icon">{{vm.extendedInfo.IMBDrating}}</p>
        </div>
    	<div id="ratingDiv" class="rating deep-gray-darker text-align-center">
            <div id="ratingHeader" class="rating-header light-gray gray-text">
                <p class="rating-header-text">Users rating</p>
            </div>
            <span class="stars-rating yellow-icon" ng-repeat="num in vm.getStarsNumber(vm.stars) track by $index">
                <span class="fa fa-star" ng-if="$index < vm.extendedInfo.rating"></span>
                <span class="fa fa-star-o" ng-if="$index >= vm.extendedInfo.rating"></span>                
            </span>
        </div>
    </div>
    <bottom-bar data="vm.bottomIcons" filter="vm.bottomFilter" class="mosaic-bottom-bar deep-gray-darker"></bottom-bar>
</div>