.menu {
    width: 100%;
    height: 94px;
    box-shadow: -2px 3px 8px #1E2226;
}

.branding {
    position: absolute;
    left: 77px;
    top: 42px;
}

.menu-list {
    position: absolute;
    overflow: hidden;
    top: 26px;
    left: 217px;
    width: 1057px;
    height: 68px;
}

.categories {
    position: absolute;
    left: 40px;
}

.menu-item {
    height: 55px;
    float: left;
}

.menu-text {
    width: 92%;
    left: 10px;
    top: -2px;
    position: relative;
    height: 30px;
}

.menu-exit-icon{
    position: relative;
    top: -46px;
    left: 36px;
}

