<div class="menu deep-gray-darker" keyboard="vm.keyHandler">
    <img src="./assets/img/logo.png" class="branding" alt="placerTv_logo">

    <div class="menu-list">
        <linear-list config="vm.listConf" data="vm.categories" interface="vm.listP" class="categories" ng-style="vm.listStyle"></linear-list>
    </div>
</div>