<style>
video {
    width: 640px;
    height: 360px;
}
</style>

<body>
    <div>
        <div>
            <video id="videoPlayer" controls></video>
        </div>
        <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
        <script>
        (function() {
            var url = "https://dash.akamaized.net/envivio/EnvivioDash3/manifest.mpd";
            var player = dashjs.MediaPlayer().create();
            player.initialize(document.querySelector("#videoPlayer"), url, true);
        })();
        </script>
    </div>
    <div>
        <video class="dashjs-player" autoplay="" preload="none" controls="true">
            <source src="http://dash.edgesuite.net/envivio/dashpr/clear/Manifest.mpd" type="application/dash+xml">
        </video>
        <script type="text/javascript">
          Dash.createAll();
        </script>
    </div>
</body>