<!DOCTYPE html>
<html ng-app="app" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>IBC-2017-VOD</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="styles.min.css?v=<%= version %>">

</head>

<body keyboard>

  <div ui-view="menu"></div>
  <div ui-view="mosaic"></div>

  <script src="libs.min.js?v=<%= version %>"></script>
  <script src="app.min.js?v=<%= version %>"></script>
  <script src="templates.min.js?v=<%= version %>"></script>

</body>

</html>
