<li class="banner-button gray-darker wrap" ng-repeat="item in data">
    <span class="banner-button-text {{item.title}}" ng-class="{'yellow-icon': focus && $index == focusIndex}" ng-if="!item.disable">
        <i class="banner-button-top-icon fa {{item.topIcon}}" ng-if="item.topIcon"></i>
        <i class="banner-button-icon fa {{item.icon}}" ng-if="item.icon"></i>
        <span class="bottom-bar-text-icon" ng-if="item.textIcon" ng-bind="item.textIcon"></span>
        <span ng-bind="item.title | translate"></span>
    </span>
</li>