<ul class="list-inline">
    <li class="bottom-bar-item wrap" ng-repeat="item in icons">
        <span class="bottom-bar-text">
            <i class="bottom-bar-icon unfocus-opacity fa {{item.icon}}" ng-if="item.icon"></i>
            <span class="bottom-bar-text-icon" ng-if="item.textIcon" ng-bind="item.textIcon"></span>
            <span class="unfocus-opacity" ng-bind="item.Title"></span>
        </span>
    </li>
    <li class="bottom-bar-right-item wrap ellipsis" ng-repeat="item in filters track by $index">
        <span class="bottom-bar-text" ng-class=" item.icon === 'fa-filter' ? 'yellow-background focus-bar-item' : ''">
            <i class="bottom-bar-icon unfocus-opacity fa {{item.icon}}" ng-if="item.icon"></i>
            <span class="unfocus-opacity" ng-bind="item.Title || '-'"></span>
        </span>
    </li>
</ul>