<div class="ngdialog-message" keyboard="keyHandler">
    <br>
    <span ng-bind="title"></span>
    <br><br><br>
    <span ng-bind="message"></span>
    <linear-list config="listConf" data="buttons" interface="listP" class="error-dialog-buttons" ng-style="listStyle" ng-if="buttons.length"></linear-list>
</div>
