<li class="menu-item wrap gray-text" ng-repeat="item in data" ng-class="{'gold-lighter-animate': $index === focusIndex && config.focus, 'white-lighter-animate': $index === focusIndex && !config.focus,'gold-lighter-animate2': $index === focusIndex && config.focus && $last}" ng-style="{'width': config.item.width=='246' ? config.item.width + 3 + 'px' : config.item.width + 'px'}" ng-if="data.length">
    <p class="menu-text ellipsis font16" ng-bind="item.title || '-' | translate"></p>
    <span class="menu-icon fa {{item.FaIcon}}"></span>
    <img ng-class="item.IconClass" ng-src="{{item.Icon}}">
</li>