<li class="dialog-button deep-gray-darker wrap" ng-repeat="item in data" ng-class="{'gold-selected': $index === focusIndex && focus}">
    <span class="dialog-button-text" ng-bind="item.title | translate"></span>
</li>