<li class="mosaic-item gray-mosaic" ng-repeat="item in tiles track by (item.title +$index)" ng-class="{'unfocus-opacity': !focus}" ng-if="tiles.length">
	<div class="genre medium-gray gray-text" ng-if="item.items.length > 0"><span class="mosaic-genres font25" ng-class="{'yellow-icon': focus && $index == focusIndex}">{{item.title}}</span><span class="mosaic-acronym font100 medium-light-gray-text">{{item.acronym}}</span></div>
    <img image alt="" class="mosaic-image" ng-src="{{item.img}}">
	<div class="mosaic-item-outer" ng-class="{'yellow-border': focus && $index == focusIndex}"></div>
</li>
