<div class="overlayPlayContainer">
  <div ng-class="$parent.getPlayerIcon()">
    <span class="overlay-text" ng-bind="!$parent.playbackSpeedIndex ? '' : $parent.config.speeds[$parent.playbackSpeedIndex]"></span>
  </div>
</div>