<div class="ngdialog-message contentPin" keyboard="keyHandler">
    <div ng-bind="title" class="titlePin"></div>
    <div ng-bind="message"></div>
    <div class="pin-dialog-char boxNumber" ng-repeat="item in chars track by $index" ng-class="{'boxEnter': $index === pinCode.length}" ng-if="chars.length">
        <span ng-bind="item" ></span>
    </div>
</div>