<div class="ngdialog-message rating-margin gray-mosaic" keyboard="keyHandler">
    <div ng-bind="title | translate" class="login-h2 wrap"></div>
    <p ng-bind-html="rating | translate" class="text-left margin-title yellow-icon bold subrate "></p>
    <div class="rating-content">
		<div class="rating-bar deep-gray-darker"> </div>
		<div class="rating-ball yellow-background " ng-style="ballBarStyle" ng-class="{'green-lighter-animate': !listP.isFocused()}" ng-style=styleBar></div>
		<div class="second-rating-bar yellow-background green-lighter-animate" ng-style="styleBar" > </div>
	</div>
    <linear-list config="listConf" data="buttons" interface="listP" class="info-dialog-buttons" ng-style="listStyle" ng-if="buttons.length"></linear-list>
</div>
