<li class="none related-item" ng-repeat="item in data track by $index">
    <img image class="related-item-img" src="" alt="" ng-src="{{item.img}}"/>
    <div class="related-item-outer" ng-class="{'yellow-border': focus && $index == focusIndex}"></div>
</li>