<li class="tag-item gray-darker" ng-repeat="item in data" ng-class="{'red-gradient text-bold': $index == focusIndex && focus}" ng-if="data.length">
    <p class="tag-text ellipsis" ng-bind="item.Title || '-'"></p>
    <div class="tag-item-filter" ng-show="item.icon && $index === focusIndex">
        <i class="fa {{item.icon}}"></i>
    </div>  
    <div class="tag-item-filter" ng-show="item.selected" ng-class="{'red-background': $index !== focusIndex && item.selected}">
        <i class="fa fa-filter"></i>
    </div>
</li>
