<linear-list config="listConf" data="tags" interface="listP" class="tag-list" ng-style="listStyle" ng-class="{'display': tags.length}"></linear-list>
<div class="tag-clue" ng-style="clueStyle" ng-class="{'display gray-darker': tags.length}">
    <div class="clue-div red-background">
        <i class="clue-icon fa gray-darker-icon fa-chevron-left fa-2x"></i>
        <span translate class="clue-text">FILTER</span>
    </div>
</div>