<!-- <div class="videogular-container">
    <videogular id="vgtest" vg-theme="config.theme" vg-player-ready="onPlayerReady($API)" vg-can-play="onCanPlay($event)" vg-error="onError($event)" vg-auto-play="config.autoPlay" vg-native-fullscreen="false">
        <vg-media vg-src="config.sources" vg-dash></vg-media>
        <vg-overlay-play vg-template="app/shared/templates/overlayPlay.html" ng-show="!loading"></vg-overlay-play>
        <vg-poster vg-url='config.plugins.poster' ng-if="!loading"></vg-poster>
        <img ng-class="{'on-screen-pip': !API.isFullScreen, 'on-screen-fullscreen': API.isFullScreen}" class="on-screen" ng-src="./assets/img/logo.png"></img>
        <div ng-class="{'banner-overlay-error': playerBlocked, 'banner-overlay-unfocus': !playerBlocked && !isFocused()}"></div>
        <div class="gray-darker" ng-show="showBanner" ng-class="{'banner': !API.isFullScreen && !config.autoStart, 'banner-fullscreen': API.isFullScreen || config.autoStart}">
            <progress ng-class="{'banner-progress-bar': !API.isFullScreen && !config.autoStart, 'banner-progress-bar-fullscreen': API.isFullScreen || config.autoStart}" min="0" max="{{API.totalTime}}" value="{{API.currentTime}}"></progress>
            <div class="banner-time" ng-class="{'banner-current-time': !API.isFullScreen && !config.autoStart, 'banner-current-time-fullscreen': API.isFullScreen || config.autoStart}">
                <span ng-bind="API.currentTime || 0 | date:'HH:mm:ss':'+0000'"></span>
            </div>
            <linear-list config="listConf" data="buttons" interface="listP" class="banner-buttons" ng-style="listStyle" ng-if="buttons.length"></linear-list>
            <div class="banner-time" ng-class="{'banner-total-time': !API.isFullScreen && !config.autoStart, 'banner-total-time-fullscreen': API.isFullScreen || config.autoStart}">
                <span ng-bind="API.totalTime || 0 | date:'HH:mm:ss':'+0000'"></span>
            </div>
        </div>
    </videogular>
</div>
 -->