.pip {
    /*height: 654px;
    width: 100%;
    position: absolute;*/
}

.pip-header {
    width: 900px;
    height: 45px;
    left: 40px;
    top: -5px;
    position: absolute;
}

.pip-title {
    left: 15px;
    top: -4px;
    font-size: 20px;
    position: absolute;
    max-width: 925px;
    height: 29px;
}

.videogular-container {
    width: 919px;
    height: 548px;
    left: 40px;
    top: 36px;
    position: absolute;
    overflow: hidden;
}

#vgtest > vg-poster > img {
    width: 100%;
    height: 100%;
}

vg-media {
    position: relative;
    top: -16px;
}

.banner {
    width: 100%;
    height: 90px;
    bottom: -1px;
    position: absolute;
    font-size: 18px;
    z-index: 1;
}

.banner-fullscreen {
    width: 100%;
    height: 89px;
    bottom: 0px;
    position: absolute;
    font-size: 18px;
    z-index: 1;
}

.banner-overlay-error,
.banner-overlay-unfocus {
    width: 100%;
    height: 89px;
    bottom: 0px;
    position: absolute;
    z-index: 2;
}

.banner-overlay-error {
    opacity: 0.3;
}

.banner-overlay-unfocus {
    opacity: 0.2;
}

.banner-time {
    position: absolute;
}

.banner-current-time {
    top: 20px;
    left: 250px;
}

.banner-current-time-fullscreen {
    left: 411px;
    height: 12px;
    width: 52px;
    font-size: 19px;
    top: 17px;

}

.banner-total-time {
    top: 20px;
    right: 35px;
}

.banner-total-time-fullscreen {
    right: 85px;
    height: 12px;
    width: 52px;
    font-size: 19px;
    top: 17px;
}

.banner-buttons {
    width: 264px;
    position: absolute;
    left: 30px;
}

.banner-buttons > ul > ng-include {
    display: flex;
    width: 100%;
    position: absolute;
}

.banner-button {
    height: 20px;
    position: relative;
    flex: 5;
    z-index: 7;
}

.banner-button .BANNER_RETURN, .banner-button .fa-expand{
    margin-right: 90px;
}

.banner-button .BANNER_RETURN{
    float: left;
    margin-left: 20px;
    width: 85px;
}

.banner-button-text {
    position: relative;
    text-align: left;
    top: 1px;
    z-index: 8;
}

.banner-button-icon {
    margin: 0px 2px;
    z-index: 9;
}

.banner-button-top-icon {
    margin: 0px -3px;
    position: relative;
    left: 8px;
    z-index: 10;
}

.banner-progress-bar {
    position: absolute;
    top: 30px;
    width: 395px;
    margin-left: 405px;
    height: 5px;
    vertical-align: 6px;
    background: #282E33;
    color: #CEA245;
}

.banner-progress-bar-fullscreen {
    position: absolute;
    width: 630px;
    top: 30px;
    margin-left: 499px;
    height: 5px;
    background: #282E33;
    color: #CEA245;
}

.banner-progress-bar-fullscreen::-webkit-progress-bar,
.banner-progress-bar::-webkit-progress-bar {
    background: #282E33;
}

.banner-progress-bar-fullscreen::-webkit-progress-value,
.banner-progress-bar::-webkit-progress-value {
    background: -webkit-linear-gradient(left bottom, #CEA245 , #CEA245);
    background: linear-gradient(to top right, #CEA245 , #CEA245);
}

.on-screen-pip {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 50px
}

.on-screen-fullscreen {
    position: absolute;
    right: 70px;
    top: 50px;
    width: 75px
}

.overlay-text {
    position: relative;
    left: 15px;
    bottom: 15px;
    font-size: 60px;
}

.related {
    position: absolute;
    width: 280px;
    height: 651px;
    top: 54px;
    left: 985px;
}

.related-pip-title {
    top: -42px;
    font-size: 20px;
    position: absolute;
    max-width: 250px;
    height: 29px;
}

.related-list-container {
    overflow: hidden;
    position: absolute;
    height: 598px;
    width: 285px;
}

.related-list {
    position: absolute;
    width: 276px;
    top: -17px;
}

.related-item {
    height: 147px;
    width: 260px;
    max-width: 300px;
    max-height: 230px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 0.25px;
    padding-bottom: 1px;
    display: list-item !important;
}

.related-item-img {
    height: auto;
    width: auto;
    max-width: 260px;
    max-height: 200px;
    position: absolute;
}


.related-landscape-item-img.image-error {
    width: 260px;
}

.related-portrait-item-img.image-error {
    height: 200px;
}

.related-empty {
    left: 18px;
    top: 100px;
    font-size: 18px;
    position: absolute;
    text-align: center;
    line-height: 10px;
}

.pip-bottom-bar {
    width: 1280px;
    height: 71px;
    bottom: 0px;
    position: absolute;
}

.pip-bottom-bar > ul > .bottom-bar-right-item {
    position: relative;
    bottom: 10px;
    float: right;
    right: 5px;
    height: 26px;
    padding-left: 5px;
    width: auto;
    max-width: 500px;
}

#videoPlayer{
    width: 100%;
}