<script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
<style>
    video {
       width: 640px;
       height: 360px;
    }
</style>
<body>
   <div>
       <video id='videoPlayer' data-dashjs-player autoplay src="trailers/out/video_live.mpd" controls></video>
   </div>
</body>
