.mosaic-box {
    position: absolute;
    overflow: hidden;
    top: 92px;
    left: 2px;
    width: 1278px;
    height: 649px;
}

.mosaic-outer {
    position: absolute;
    top: -310px;
    left: 40px;
    margin-left: 0px !important;
    width: 1503px;  /*1280 + tags width*/
    height: 1100px;
}

.mosaic {
    position: relative !important;
    float: left !important;
    width: 1200px !important;
    height: 1100px !important;
}

.mosaic-item {
    position: relative;
    width: 377px;
    height: 211px;
    float: left;
    text-align: center;
    margin: 7px;
    display: inherit !important;
}

.mosaic-item-outer {
    position: relative;
    top: -216px;
    left: 0px;
    width: 369px;
    height: 208px;
}



.mosaic-image {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.mosaic-landscape-image.image-error {
    width: 100%;
}

.mosaic-landscape-focus {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0px;
    text-align: left;
}

.mosaic-portrait-item {
    position: relative;
    width: 16.9%;
    height: 300px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 6px;
    background-color: #1d1d1d;
    text-align: center;
    float: left;
    display: inherit !important;
}

.mosaic-portrait-image {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.mosaic-portrait-image.image-error {
    height: 100%;
}

.mosaic-portrait-focus {
    position: absolute;
    width: 203px;
    height: 40px;
    bottom: 0px;
    text-align: left;
}

.mosaic-text {
    width: 95%;
    left: 10px;
    top: -9px;
    font-size: 18px;
    position: relative;
    height: 27px;
}

.mosaic-empty {
    right: 750px;
    top: 500px;
    font-size: 18px;
    position: absolute;
    text-align: center;
}

.mosaic-bottom-bar {
    width: 1280px;
    height: 71px;
    bottom: 0px;
    position: absolute;
}

.mosaic-bottom-bar > ul > .bottom-bar-right-item {
  position: relative;
  bottom: 10px;
  float: right;
  right: 45px;
  height: 26px;
  padding-left: 5px;
  width: auto;
  max-width: 120px;
}

.genre {
    position: absolute;
    width: 375px;
    height: 214px;
}

.mosaic-acronym {
    width: 0px;
    height: 92px;
    margin-bottom: 32px;
    margin-left: 32px;
    position: absolute;
    left: -7px;
    bottom: 0px;
}

.mosaic-genres {
    position: absolute;
    margin-top: 32px;
    margin-right: 32px;
    right: 0px;
    top: -2px;
}