<div class="mosaic-box gray-mosaic" keyboard="vm.keyHandler">
    <div class="mosaic-outer" ng-style="vm.mosaicOuterStyle">
        <mosaic config="vm.mosaicConf" data="vm.assets" interface="vm.mosaicP" class="mosaic" ng-style="vm.mosaicStyle" ng-show="vm.assets.length"></mosaic>
    </div>
</div>
<bottom-bar data="vm.bottomIcons" filter="vm.bottomFilter" class="mosaic-bottom-bar deep-gray-darker"></bottom-bar>