.splash {
    position: absolute;
    top: -93px;
    width: 1280px;
    height: 720px;
}

.splash-branding {
    width: 100%;
    height: auto;
    margin: 80px auto;
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.3s linear;
}