@font-face {
  font-family: 'SourceSansPro';
  src: url('/assets/fonts/SourceSansPro-Regular.otf');
}

body {
  position: absolute;
  width: 1280px;
  height: 720px;
  color: #EBEBEB;
  background-color: #1C2024;
  font-family: 'Arial';
  margin: 0px;
  overflow: hidden;
}


.black {
  background-color: #0d0d0d;
}
.gray-mosaic {
  background-color: #1C2024;
}

.text-align-center{
  text-align: center;
}

.line-height-1{
  line-height: 1;
}

.font16 {
  font-size: 16px;
}

.font25 { 
  font-size: 25px; 
}

.font40 {
  font-size: 40px;
}

.font100 {
  font-size: 100px;
}

.deep-gray-darker {
  background-color: #16191C;
}

.gray-darker {
  background-color: #16191C;
}

.medium-gray {
  background-color: #282D32;
}

.gray-text{
  color: #76838C;
}

.light-gray{
  background-color: #24292D;
}

.gray-lighter {
  background-color: #313131;
}

.gray-lighter-animate {
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.5s;
  background-color: #313131;
}

.gold-selected {
   color: #CEA245;
   border-bottom:solid #CEA245 4px;
}

.menu-list .gold-lighter-animate{
  -webkit-transition: color 0.25s;
  transition: color 0.5s;
  color: #CEA245;
}

.submenu-list .gold-lighter-animate {
  -webkit-transition: color 0.25s;
  transition: color 0.5s;
  color: #CEA245;
  border-bottom:solid #CEA245 4px;
  
}
.submenu-list .gold-lighter-animate2 {
  -webkit-transition: color 0.25s;
  transition: color 0.5s;
  color: #CEA245;
  border-bottom: none;
}

.white-lighter-animate {
  -webkit-transition: color 0.25s;
  transition: color 0.5s;
  color: white;  
}

.red-background {
  background-color: rgba(145, 24, 30, 0.8);
}

.gray-darker-icon {
  color: #1d1d1d;
}

.yellow-icon {
  color: #CEA245;
}

.yellow-background {
  background-color: #CEA245;
}

.yellow-border {
  border-style: solid;
  border-color: #CEA245;
}

.red-icon {
  color: #b5161e;
}

.green-icon {
  color: #006400;
}

.blue-icon {
  color: #0000FF;
}

.medium-light-gray-text {
  color: #2D3338;
}

.red-gradient {
  background: #91181e;
  background: -webkit-linear-gradient(left bottom, #5a1317 , #b5161e);
  background: linear-gradient(to top right, #5a1317 , #b5161e);
}

.red-gradient-splash {
  background: url('/assets/img/scatter.png'), linear-gradient(to bottom left, #B5161E 0%, #5A1317 100%);
  background: url('/assets/img/scatter.png'), -webkit-gradient(linear, right top, left bottom, color-stop(0, #B5161E), color-stop(100, #5A1317));
}

.list-inline {
  list-style-type: none;
  padding: 0px;
}

.wrap {
  text-align: center;
}

.error-opacity {
  opacity: 0.7;
}

.display {
  visibility: inherit !important;
}

.none {
  display: none;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis-two {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.unfocus-opacity {
  opacity: 0.6;
}

.text-bold {
  font-weight: bold;
}

.bottom-bar-text {
  position: relative;
  font-size: 16px;
  bottom: -1px;
  color: #F8F8FF;
}

.bottom-bar-item {
  position: relative;
  bottom: 10px;
  float: left;
  height: 71px;
  left: 45px;
  padding-right: 15px;
  
}

.bottom-bar-text-icon {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0px 2px;
   color: #CEA245;
 
}

.bottom-bar-icon {
  margin: 0px 3px;
   color: #CEA245;
}

.focus-bar-item {
  padding: 4px;
  padding-top: 0px;
}

.warning-text {
  left: -3px;
  font-family: 'SourceSansPro';
  font-size: 18px;
  position: relative;
  top: -80px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

[src=''] {
    visibility: hidden !important;
    /*display: none;*/
}