@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ngdialog {
  width: 1280px;
  height: 720px;
  margin: 8px;
  overflow: hidden;
}

.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-flyout .5s;
  animation: ngdialog-flyout .5s;
}

.ngdialog .ngdialog-content {
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;
  background: #1C2024;
  text-align: center;
  font-size: 18px;
  margin: 200px auto;
  max-width: 100%;
  max-height: 80%;
  padding: 1em;
  position: relative;
  width: 450px;
  height: 250px;
}

.ngdialog#loading-dialog > .ngdialog-content {
  background: rgba(0, 0, 0, 0);
}

.ngdialog {
  margin: 0;
}

.ngdialog-message {
  margin-bottom: .5em;
}

.error-dialog-buttons,
.info-dialog-buttons {
  width: 100%;
  bottom: 0px;
  left: 0px;
  position: absolute;
  left: -50%;
}

.error-dialog-buttons .dialog-button {
  height: 40px;
  font-size: 18px;
  float: left;
  position:relative;
  left: 50%;
  width: 50%;
}

.info-dialog-buttons .dialog-button {
  height: 40px;
  font-size: 18px;
  float: left;
  position:relative;
  left: 50%;
  width: 100%;
}

.pin-dialog-char {
  font-size: 40px;
  float: left;
  position: relative;
  margin-left: 35px;
}

.dialog-button-text {
  position: relative;
  text-align: left;
  top: 7px;
}

.loader {
  width: 50%;
  position: absolute;
  top: 100px;
  left: 100px;
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.boxNumber{
  margin-top: 12px;
  height: 50px;
  width: 90px;
  background-color:#313131;
  position: relative;
  display: block;
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
}

.titlePin{
 display: block;
 margin-bottom: 0px;
 font-size: 25px;
 width: 100%;
}

.contentPin{
  /*text-align: left;*/
  text-align: justify;
  margin-top: -12px;
}

.boxEnter{
    color:#1d1d1d;
    background-color: white;
}