.tags-landscape {
    position: relative;
    float: left;
    top: 280px;
    height: 593px;
    width: 261px;
    z-index: 0;
}

.tags-portrait {
    position: relative;
    float: left;
    top: 312px;
    height: 559px;
    width: 261px;
    z-index: 0;
}

.tag-list {
    position: absolute;
    height: 627px;
    width: 261px;
    top: -16px;
    z-index: -1;
    visibility: hidden;
}

.tag-clue {
    height: 611px;
    width: 78px;
    float: right;
    border-left: 2px solid #0d0d0d;
    border-bottom: 2px solid #0d0d0d;
    border-right: 1px solid #0d0d0d;
    visibility: hidden;
}

.clue-div {
    position: relative;
    top: 245px;
    height: 100px;
    width: 30px;
    left: 45px;
}

.clue-icon {
    position: absolute;
    top: 12px;
    left: 7px;
    font-size: 22px !important;
}

.clue-text {
    position: absolute;
    left: -8px;
    bottom: 25px;
    font-size: 18px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.tag-item {
    height: 44px;
    width: 255px;
    float: right;
    margin: 3px;
    margin-bottom: 0px;
    font-size: 18px;
}

.tag-item-filter {
    height: 20px;
    width: 20px;
    position: relative;
    top: -49px;
    left: 222px;
}

.tag-item-filter > i {
    height: 20px;
    width: 20px;
    position: relative;
    top: -2px;
    left: 3px;
}

.tag-text {
    width: 165px;
    left: 50px;
    top: -8px;
    position: relative;
    height: 25px;
}